<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title 'Hangman -' %}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <h1>
                <a href="/">Hangman</a>
            </h1>
        </div>
        {{ include('menu.html.twig') }}
    </div>

    <div id="page">
        <div id="content">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% block content %}{% endblock %}

            <br /><hr />
            {{ render(controller('AppBundle:Game:testimonials')) }}
        </div>
        <div id="sidebar">
            <h3>{{ 'last_games'|trans }}</h3>
            <div class="date-list">
                <ul class="list date-list">

                    <li class="first"><span class="date">Jan 13</span> <a href="#">Ultrices quisque molestie</a></li>
                    <li><span class="date">Jan 7</span> <a href="#">Neque dolor eget</a></li>
                    <li><span class="date">Jan 1</span> <a href="#">Sollicitudin interdum</a></li>
                    <li class="last"><span class="date">Dec 26</span> <a href="#">Varius dignissim</a></li>

                </ul>
            </div>
            <h3>{{ 'last_players'|trans }}</h3>
            <ul>
                <li>user 1</li>
                <li>user 2</li>
                <li>user 3</li>
                <li>user 4</li>
                <li>user 5</li>
            </ul>
        </div>
        <br class="clearfix" />
    </div>
</div>
</body>
</html>
