<div id="menu">
    <ul>
        <li class="first current_page_item">
            <a href="{{ path('game_home') }}">{{ 'menu.game'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('register') }}">{{ 'menu.register'|trans }}</a>
        </li>
        <li>
            <a href="/signin">{{ 'menu.login'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('contact') }}">{{ 'menu.contact'|trans }}</a>
        </li>
    </ul>
    <br class="clearfix" />
</div>
